<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <li>Pengembalian melalui bank transfer diterima 14 hari setelah penerimaan email ini</li>
        <li>Pengembalian melalui card holder, pengoreksian card billing tergantung dari kebijakan Bank penerbit</li>
        <li>Pengembalian melalui Link Aja dan Kredivo diterima ke pemilik account </li>
    </ol>
</body>
</html>