<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" href="payment-vue.css"/>
</head>
<body>
    <div id="payment">
        <div class="main-container">
            <div class="payment-detail">
                <h3>Rp {{payment.amount}}</h3>
            </div>
            <div class="title-bar">
                <button class="back-button" v-bind:class="{hidden: selectedMethodId == 'NONE'}" 
                    v-on:click="backToMainWindow()">&#10094&#10094</button>
                <div class="title">{{selectedMethodId == 'NONE'?'Payment Methods' : selectedMethod.name}}</div>
            </div>
            <div class="payment-container">

                <transition name="slide-fade" mode="out-in">
                    <div key=1 class="payment-method" v-if="selectedMethodId == 'NONE'">
                        <div v-for="method in payment.methods" class="item" :key="method.id" v-on:click="setSelectedMethod(method.id)" >
                            <div>{{method.name}}</div>
                            <div>&#10095</div>
                        </div>
                    </div>
                    <div key=2 class="window" v-else>
                        <div class="list-item" v-for="item in selectedMethod.child">
                            <input type="radio" v-bind:id="item.id" v-bind:name="selectedMethod.id">
                            <label v-bind:for="item.id">
                                <img v-bind:src="item.iconUrl" height="25px"/>
                                <span>{{item.name}}</label></span>
                        </div>
                        <br/>
                        <button>NEXT &#10095</button>
                    </div>
                </transition>

                
            </div>
        </div>
    </div>
</body>
<script src="./vue.min.js"></script>
<script src="./payment-methods.js"></script>
<script>
    var app = new Vue({
        el: '#payment',
        data: {
            payment: payment,
            selectedMethodId: 'NONE',
            selectedMethod: this.payment.methods.filter(m => m.id == 'atm')[0],
            setSelectedMethod: function(methodId){
                this.selectedMethod = this.payment.methods.filter(m => m.id == methodId)[0];
                this.selectedMethodId = methodId;
                this.payment.title = this.selectedMethod.name;
            },
            backToMainWindow: function(){
                this.selectedMethodId = 'NONE';
            }
        }
    })
</script>
</html>