<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" href="payment-widget.css"/>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <style>
        body{
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="payment">
        <div class="main-container">
            <div class="payment-detail">
                <i class="la la-receipt" style="font-size: 50px;"></i>
                <div class="amount-detail">
                    <h4>Payment Amount</h4>
                    <h3>Rp {{formatPrice(payment.amount)}}</h3>
                </div>
                
            </div>
            <!-- <div class="payment-container">
                <div class="view-payment-detail">
                    <div class="item">
                        <div class="icon-label">
                            <i class="la la-file-alt"></i>
                            <div>View Payment Detail</div>
                        </div>
                        <div>&#10095</div>
                    </div>
                </div>
            </div> -->
            
            <div class="title-bar">
                <button class="back-button" v-if="selectedMethodId != 'NONE'" 
                    v-on:click="backToMainWindow()">&#10094&#10094</button>
                <div class="title">{{selectedMethodId == 'NONE'?'Payment Methods' : selectedMethod.name}}</div>
            </div>
            <div class="payment-container">

                <transition name="slide-fade" mode="out-in">
                    <div key=1 class="payment-method" v-if="selectedMethodId == 'NONE'">
                        <div v-for="method in payment.methods" class="item" :key="method.id" v-on:click="setSelectedMethod(method.id)" >
                            <div class="icon-label">
                                <i v-bind:class="method.laIcon"></i>
                                <div>{{method.name}}</div>
                            </div>
                            <div>&#10095</div>
                        </div>
                    </div>
                    <div key=2 class="window" v-else>
                        <div class="list-item" v-for="item in selectedMethod.child">
                            <input type="radio" v-bind:id="item.id" v-bind:name="selectedMethod.id"
                                v-on:click="console.log(selectedMethod.id, item.id)">
                            <label v-bind:for="item.id">
                                <img v-bind:src="item.iconUrl" height="25px"/>
                                <span>{{item.name}}</label></span>
                        </div>
                        <br/>
                        <button v-if="selectedMethod.child.length > 0">NEXT &#10095</button>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</body>
<script src="./vue.min.js"></script>
<script src="./payment-methods.js"></script>
<script>
    var app = new Vue({
        el: '#payment',
        data: {
            payment: payment,
            isLoading: true,
            selectedMethodId: 'NONE',
            selectedMethod: this.payment.methods.find(m => m.id == 'atm'),
            setSelectedMethod: function(methodId){
                this.selectedMethod = this.payment.methods.find(m => m.id == methodId);
                this.selectedMethodId = methodId;
                this.payment.title = this.selectedMethod.name;
            },
            backToMainWindow: function(){
                this.selectedMethodId = 'NONE';
            },
            formatPrice(value) {
                return value.toLocaleString(['id', 'de-DE']);
            }
        }
    })
</script>
</html>