:root{
    --citilink-green: rgb(101, 179, 46);
}
#payment{
    width: 400px;
}
@media only screen and (max-width: 400px) {
    #payment {
      width: 100%;
    }
}
.payment-detail{
    padding: 20px;
}
.back-button{
    background: none;
    border: none;
    padding: 0px 10px;
    font-size: larger;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    border: 3px solid #CCC;
}
.title-bar{
    background: #DDD;
    height: 40px;
    display: flex;
    align-items: center;   
    padding: 5px;
    font-size: larger;
}
.title-bar .title{
    margin-left: 10px;
    margin-top: 3px;
}
.payment-container{
    display: flex;
    flex-direction: row;
    font-size: larger;
    width: 93%;
    margin: 10px;
    overflow: hidden;
    height: 300px;
}
.payment-method{
    width: 100%;
    overflow: hidden;
}
.payment-method .item{
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.list-container, .list-item{
    width: 100%;
}
.list-item{
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
}

.window {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.window button{
    padding: 8px 10px;
    cursor: pointer;
    background-color: var(--citilink-green);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

label img{
    margin-bottom: -5px;
    margin-left: 5px;
}

/* Animation */
.slide-fade-enter-active {
    transition: all .3s ease-in;
}
    .slide-fade-leave-active {
    transition: all .3s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(10px);
    opacity: 0;
}